
.left-column {
    float: left;
    left: 0;
    width: 50%;
    background: black;
}

#wdgt-container {
    font-weight: bold;
    font-family: Calibri, sans-serif;
    font-size: 4rem;
    text-align: center;
    padding: 10px;
    margin: 10px;
    border: 1px solid #5a5a5a;
    border-radius: 3px;
}

#hoursChart {
    border: 1px solid #5a5a5a;
    border-radius: 3px;
}

#calendar {
    padding: 3px;
    border: 1px solid #5a5a5a;
    border-radius: 3px;
}

.alert-info {
    background-color: white !important;
}