
.left-column {
    float: left;
    left: 0;
    width: 50%;
    background: black;
}
.right-column{
    float: right;
    background: grey;
    right: 0;
    width: 50%;
    color: blue;
}
.top {
    top:0
}
.left-division {
    border: solid coral;
    display: inline-block;
    width: 49%;
}
.hours{
    font-size: 14vw;
    text-align: center;
}

div {
    color: lightblue;
}
main {
    background: black;
}