{{define "adminusers"}}

{{template "adminheader" .}}

<script id="tmpl_listUsers" type="x-dot-template">
    <table class="table table-hover">
        <tr>
            <th>User ID</th>
            <th>Last Name</th>
            <th>First Name</th>
            <th>Username</th>
            <th>Email</th>
            <th>Phone</th>
            <th></th>
        </tr>
        {{`{{~it :value:index}}`}}
        <tr>
            <td>{{`{{=value.userId}}`}}</td>
            <td>{{`{{=value.lastName}}`}}</td>
            <td>{{`{{=value.firstName}}`}}</td>
            <td>{{`{{=value.userName}}`}}</td>
            <td>{{`{{=value.email}}`}}</td>
            <td>{{`{{=value.phoneNumber}}`}}</td>
            <td><button id="edit_{{`{{=value.userId}}`}}" type="button" class="btn btn-info">Edit User</button>
                <button id="pass_{{`{{=value.userId}}`}}" type="button" class="btn btn-info">Change Password</button></td>
        </tr>
    {{`{{~}}`}}
    </table>
</script>

<script id="tmpl_password" type="x-dot-template">
    <div class="row">
        <header>
            <h1>Edit password for user: </h1><h2>{{`{{=it.userName}}`}}</h2>
        </header>
    </div>
    <div class="row">
        Password </td>
            <td><input id="pass1" type="password" class="form-control form-control-sm"></td>
        </tr>
        <tr>
            <td> Confirm Password </td>
            <td><input id="pass2" type="password" class="form-control form-control-sm"></td>
        </tr>
        <tr>
        <td><button id="Submit" type="button" class="btn btn-info">Submit</button></td>
        <td><button id="cancel" type="button" class="btn btn-info">Cancel</button></td>
        </tr>
    </div>
</script>

<script id="tmpl_listFamilies" type="x-dot-template">
    <table>
        <tr>
            <th>Family ID</th>
            <th>SurName</th>
            <th></th>
        </tr>
        {{`{{~it :value:index}}`}}
        <tr>
            <td>{{`{{=value.familyId}}`}}</td>
            <td>{{`{{=value.familyName}}`}}</td>
            <td><button id="edit_{{`{{=value.familyId}}`}}" type="button" class="btn btn-info">Edit Family</button></td>
        </tr>
    {{`{{~}}`}}
    </table>
</script>

<script id="tmpl_newFamily" type="x-dot-template">
    <table>
        <tr> 
            <td>Family Name</td>
            <td><input id="famName" type="text" class="form-control form-control-sm"></td>
        </tr>
        <tr>
        <td>Parent One</td>
        <td>
            <select id="parent1">
                    <option value="">Select a Parent/Facilitator</option>
                {{`{{~it :value:index}}`}}
                    <option value="{{`{{=value.userId}}`}}">{{`{{=value.userName}}`}}</option>
                {{`{{~}}`}}    
            </select>
        </td>
        </tr>
        <tr>
        <td>Parent Two</td>
        <td>
            <select id="parent2">
                    <option value="">Select a Parent/Facilitator</option>
                {{`{{~it :value:index}}`}}
                    <option value="{{`{{=value.userId}}`}}">{{`{{=value.userName}}`}}</option>
                {{`{{~}}`}}    
            </select>
        </td>
        </tr>
            <td>Children</td>
            <td><input id="children" type="number" class="form-control form-control-sm"></td>
        </tr>
        <tr><td>
            <button id="submit" type="button" class="btn btn-info">Submit</button>
            <button id="cancel" type="button" class="btn btn-info">Cancel</button>
        </td></tr>
    </table>
</script>




<script id="tmpl_editUser" type="x-dot-template">
    <table>
        <tr><td>
            ID
        </td><td>
            <p id="IDNum">{{`{{=it.userId}}`}}</p>
        </td></tr>
        <tr><td>
            Username
        </td><td>
            {{`{{=it.userName}}`}}
        </td></tr>
        <tr><td>
            First Name
        </td><td>
            <input id="fName" type="text" value="{{`{{=it.firstName}}`}}">
        </td></tr>
        <tr><td>
            Last Name 
        </td><td>
            <input id="lName" type="text" value="{{`{{=it.lastName}}`}}">
        </td></tr>
        <tr><td>
            Email
        </td><td>
            <input id="email" type="email" value="{{`{{=it.email}}`}}">
        </td></tr>
        <tr><td>
            Phone #
        </td><td>
            <input id="phoneNum" type="tel" value="{{`{{=it.phoneNumber}}`}}">
        </td></tr>
        <tr><td>
            <button id="submit" type="button" class="btn btn-info">Submit</button>
            <button id="cancel" type="button" class="btn btn-info">Cancel</button>
        </td></tr>
    </table>
</script>

<script id="tmpl_addUser" type="x-dot-template">
    <table>
        <tr>
            <td>User Role</td>
            <td><select id="role">
                    <option value="1">Facilitator</option>
                    <option value="2">Teacher</option>
            </select></td>
        </tr>
        <tr>
            <td>First Name</td>
            <td><input id="fName" type="text"></td>
        </tr>
        <tr>
            <td>Last Name</td>
            <td><input id="lName" type="text"></td>
        </tr>
        <tr>
            <td>Email</td>
            <td><input id="email" type="email"></td>
        </tr>
        <tr>
            <td>Phone #</td>
            <td><input id="phoneNum" type="tel"></td>
        </tr>
        <tr>
            <td>Password</td>
            <td><input id="pass1" type="password"></td>
        </tr>
        <tr>
            <td>Confirm Password</td>
            <td><input id="pass2" type="password"></td>
        </tr>
        <tr><td>
            <button id="submit" type="button">Submit</button>
            <button id="cancel" type="button">Cancel</button>
        </td></tr>
    </table>
</script>

<main>
</br>
    <div class="container">
        <div class ="row">
            <div class="col-sm-3">
                <ul>
                    <li><a onClick="familyList()">Edit Family</a></li>
                    <li><a onClick="newFamily()">Add Family</a></li>
                    <li><a onClick="userList()">Edit User</a></li>
                    <li><a onClick="newUser()">Add User</a></li>
                </ul>
            </div>
        <div id="displayData" class="col-sm-9">Select an option to continue</div>
    </div>
</main>

{{template "footer"}}

{{end}}