{{define "adminusers"}}

{{template "header" .}}

<script id="tmpl_listUsers" type="x-dot-template">
    <table class="table table-hover fittable">
        <thead>
            <tr class="table-default">
                <th scope="col">User ID</th>
                <th scope="col">Last Name</th>
                <th scope="col">First Name</th>
                <th scope="col">Username</th>
            </tr>
        </thead>
        <tbody>
            {{`{{~it :value:index}}`}}
            <tr class="table-default">
                <td class="table-default"> {{`{{=value.userId}}`}}</td>
                <td class="table-default"> {{`{{=value.lastName}}`}}</td>
                <td class="table-default"> {{`{{=value.firstName}}`}}</td>
                <td class="table-default"> {{`{{=value.userName}}`}}</td>
                <td class="table-default">
                    <button id="edit_{{`{{=value.userId}}`}}" type="button" class="btn btn-primary"><i class="fas fa-edit"></i></button>
                    <br>
                    <button id="pass_{{`{{=value.userId}}`}}" type="button" class="btn btn-primary">Change Password</button>
                </td>
            </tr>
            {{`{{~}}`}}
      </tbody>
    </table>
</script>

<script id="tmpl_password" type="x-dot-template">
    <div class="row">
        <header>
            <h1>Edit password for user: </h1><h2>{{`{{=it.userName}}`}}</h2>
        </header>
    </div>
    <div class="row">
        Password </td>
            <td class="table-default"> <input id="pass1" type="password" class="form-control form-control-sm"></td>
        </tr>
        <tr class="table-default">
            <td class="table-default">  Confirm Password </td>
            <td class="table-default"> <input id="pass2" type="password" class="form-control form-control-sm"></td>
        </tr>
        <tr class="table-default">
        <td class="table-default"> <button id="Submit" type="button" class="btn btn-primary">Submit</button></td>
        <td class="table-default"> <button id="cancel" type="button" class="btn btn-primary">Cancel</button></td>
        </tr>
    </div>
</script>

<script id="tmpl_listFamilies" type="x-dot-template">
    <table>
        <thead>
            <tr class="table-default">
                <th scope="col">Family ID</th>
                <th scope="col">SurName</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
        {{`{{~it :value:index}}`}}
        <tr class="table-default">
            <td class="table-default"> {{`{{=value.familyId}}`}}</td>
            <td class="table-default"> {{`{{=value.familyName}}`}}</td>
            <td class="table-default"> <button id="edit_{{`{{=value.familyId}}`}}" type="button" class="btn btn-primary"><i class="fas fa-edit"></i></button></td>
        </tr>
    {{`{{~}}`}}
      </tbody>
    </table>
</script>

<script id="tmpl_newFamily" type="x-dot-template">
    <table>
        <tr class="table-default">
            <td class="table-default"> Family Name</td>
            <td class="table-default"> <input id="famName" type="text" class="form-control form-control-sm"></td>
        </tr>
        <tr class="table-default">
        <td class="table-default">Parent One</td>
        <td class="table-default">
            <select class="form-control" id="parent1">
                    <option value="">Select a Parent/Facilitator</option>
                {{`{{~it :value:index}}`}}
                    <option value="{{`{{=value.userId}}`}}">{{`{{=value.userName}}`}}</option>
                {{`{{~}}`}}    
            </select>
        </td>
        </tr>
        <tr class="table-default">
        <td class="table-default"> Parent Two</td>
        <td class="table-default">
            <select class="form-control" id="parent2">
                    <option value="">Select a Parent/Facilitator</option>
                {{`{{~it :value:index}}`}}
                    <option value="{{`{{=value.userId}}`}}">{{`{{=value.userName}}`}}</option>
                {{`{{~}}`}}    
            </select>
        </td>
        </tr>
            <td class="table-default"> Children</td>
            <td class="table-default"> <input id="children" type="number" class="form-control form-control-sm"></td>
        </tr>
        <tr class="table-default"><td class="table-default">
            <button id="submit" type="button" class="btn btn-primary">Submit</button>
            <button id="cancel" type="button" class="btn btn-primary">Cancel</button>
        </td></tr>
    </table>
</script>




<script id="tmpl_editUser" type="x-dot-template">
    <div class="form-group">
        <p>User ID</p>
        <input id="IDNum" value="{{`{{=it.userId}}`}}" class="form-control form-control-sm" readonly>
        <br>
        <p>Username</p>
        <input id="uName" value="{{`{{=it.userName}}`}}" class="form-control form-control-sm" readonly>
        <br>
        <p>First Name</p>
        <input id="fName" type="text" value="{{`{{=it.firstName}}`}}" class="form-control form-control-sm">
        <br>
        <p>Last Name</p>
        <input id="lName" type="text" value="{{`{{=it.lastName}}`}}" class="form-control form-control-sm">
        <br>
        <p>Email</p>
        <input id="email" type="email" value="{{`{{=it.email}}`}}" class="form-control form-control-sm">
        <br>
        <p>Phone #</p>
        <input id="phoneNum" type="tel" value="{{`{{=it.phoneNumber}}`}}" class="form-control form-control-sm">
        <br>
        <p>Bonus Hours</p>
        <input id="bonusHours" type="number" value="{{`{{=it.bonusHours}}`}}" class="form-control form-control-sm">
        <br>
        <p>Bonus Note</p>
        <input id="bonusNote" type="text" value="{{`{{=it.bonusNote}}`}}" class="form-control form-control-sm">
        <br>
        <button id="submit" type="button" class="btn btn-primary">Submit</button>
        <button id="cancel" type="button" class="btn btn-primary">Cancel</button>
</script>

<script id="tmpl_addUser" type="x-dot-template">
    <div class="form-group">
        <p>Role</p>
        <select class="form-control" id="role">
            <option value="1">Facilitator</option>
            <option value="2">Teacher</option>
        </select>
        <br>
        <p>First Name</p>
        <input id="fName" type="text" class="form-control form-control-sm">
        <br>
        <p>Last Name</p>
        <input id="lName" type="text" class="form-control form-control-sm">
        <br>
        <p>Email</p>
        <input id="email" type="email" class="form-control form-control-sm">
        <br>
        <p>Phone #</p>
        <input id="phoneNum" type="tel" class="form-control form-control-sm">
        <br>
        <p>Bonus Hours</p>
        <input id="bonusHours" type="number" value="0" class="form-control form-control-sm">
        <br>
        <p>Bonus Note</p>
        <input id="bonusNote" type="text" placeholder="Reason for bonus hours" class="form-control form-control-sm">
        <br>
        <p>Password</p>
        <input id="pass1" type="password" class="form-control form-control-sm">
        <br>
        <p>Confirm Password</p>
        <input id="pass2" type="password" class="form-control form-control-sm">
        <br>
        <button id="submit" type="button" class="btn btn-primary">Submit</button>
        <button id="cancel" type="button" class="btn btn-primary">Cancel</button>
</script>

<main>
    <div class="container">
        <div class="row"><div class="col-lg-12"><br></div></div>
        <div class="row">
            <button type="button" onClick="familyList()" class="btn btn-primary">Edit Family</button>
            <button type="button" onClick="newFamily()" class="btn btn-primary">Add Family</button>
            <button type="button" onClick="familyInfo()" class="btn btn-primary">View Families</button>
            <button type="button" onClick="userList()" class="btn btn-primary">Edit User</button>
            <button type="button" onClick="newUser()" class="btn btn-primary">Add User</button>
            <button type="button" onClick="userInfo()" class="btn btn-primary">View Users</button>
            <br>
        </div>
        <div class="row">
            <div id="displayData" class="col-lg-9 pull-left">Select an option to continue</div>
        </div>
    </div>
</main>

{{template "footer"}}

{{end}}