{{define "adminreports"}}

{{template "header" .}}

<div class="col-xs-5 text-center" id="family" onpageshow="familyData()">
  <button class="btn btn-block btn-secondary m-2" onclick="exportPdf()">Export to png</button>
  <button class="btn btn-block btn-secondary m-2" onclick="exportMonthly()" download="" href="#">Export to csv</button>
    <div class="col-xs-3 offset-6 form-group m-2">
        <label class="form-control form-control-sm" for="datePicker">Select date: </label>
        <button class="btn btn-primary" onclick="previous()">Prev</button>
        <input name="datePicker" id="time" type="date"/>
        <button class="btn btn-primary" onclick="next()">Next</button>
    </div>
</div>
     <script>
     $("#time")[0].value = moment().format("YYYY-MM-DD");
     familyData();
</script>
        <div class="col-xs-6 text-center">
            <canvas id="skills"></canvas>
        </div>
<script id="tmpl_reportFamily" type="x-dot-template">
  <table>
    <tr>
      <th>Family</th>
      <th>Family-Hours</th>
    </tr>
    {{`{{~it :value:index}}`}}
    <tr>
      <td>{{`{{=value.familyId}}`}}</td>
      <td>{{`{{=value.weekHours}}`}}</td>
    </tr>
    {{`{{~}}`}}
  </table>
</script>

<script id="tmpl_reportRoom" type="x-dot-template">
  <table>
    <tr>
      <th>Room</th>
      <th>Room-Hours</th>
    </tr>
    {{`{{~it :value:index}}`}}
    <tr>
      <td></td>
    </tr>
    {{`{{~}}`}}
  </table>
</script>

{{template "footer" .}}

{{end}}
