{{define "adminclasses"}}

{{template "adminheader" .}}

<main>
    <div>
        <button type="button">Edit Classroom</button>
        <button type="button">Add Classroom</button>
    </div>
</main>

{{template "footer" .}}

{{end}}