{{define "adminclasses"}}

{{template "header" .}}

<script id="tmpl_listClasses" type="x-dot-template">
        <table class="table table-hover">
        <tr>
            <th>Class ID</th>
            <th>Class Name</th>
            <th>Teacher</th>
            <th>Room #</th>
            <th></th>
        </tr>
        {{`{{~it :value:index}}`}}
        <tr>
            <td>{{`{{=value.roomId}}`}}</td>
            <td>{{`{{=value.roomName}}`}}</td>
            <td>{{`{{=value.teacher}}`}}</td>
            <td>{{`{{=value.roomNum}}`}}</td>
            <td><button id="edit_{{`{{=value.roomId}}`}}" type="button" class="btn btn-primary">Edit Classroom</button></td>
        </tr>
        {{`{{~}}`}}
    </table>              
</script>

<script id="tmpl_teachers" type="x-dot-template">
<div>
    {{`{{~it :value:index}}`}}
        <option value="{{`{{=value.userId}}`}}">{{`{{=value.userName}}`}}</option>
    {{`{{~}}`}}
</div>
</script>

<script id="tmpl_editClass" type="x-dot-template">
    <div class="form-group">
        <p>Class ID</p>
        <input id="cId" type="text" value="{{`{{=it.roomId}}`}}" class="form-control form-control-sm" readonly>
        <br>
        <p>Classname / Colour</p>
        <input id="cName" type="text" value="{{`{{=it.roomName}}`}}" class="form-control form-control-sm">
        <br>
        <p>Teacher</p>
        <select class="form-control" id="cTeacher">
            <option value="{{`{{=it.teacherId}}`}}">
                {{`{{=it.teacher}}`}}
            </option>
        </select>
        <br>
        <p>Room #</p>
        <input id="cNum" type="text" value="{{`{{=it.roomNum}}`}}" class="form-control form-control-sm">
        <br>
        <button id="submit" type="button" class="btn btn-primary">Submit</button>
        <button id="cancel" type="button" class="btn btn-primary">Cancel</button>
    </div>
</script>

<script id="tmpl_createClass" type="x-dot-template">
    <div class="form-group">
        <p>Classname / Colour</p>
        <input id="cName" type="text" class="form-control form-control-sm">
        <br>
        <p>Teacher</p>
        <select class="form-control" id="cTeacher">
            <option value="">Select a teacher...</option>
            {{`{{~it :value:index}}`}}
            <option value="{{`{{=value.userId}}`}}">{{`{{=value.userName}}`}}</option>
            {{`{{~}}`}}  
        </select>
        <br>
        <p>Room #</p>
        <input id="cNum" type="text" class="form-control form-control-sm">
        <br>
        <button id="submit" type="button" class="btn btn-primary">Submit</button>
        <button id="cancel" type="button" class="btn btn-primary">Cancel</button>
    </div>
</script>

<main>
    <div class="container">
        <div class="row"><div class="col-lg-12"><br></div></div>
        <div class="row">
            <button type="button" onClick="listClasses()" class="btn btn-primary">Edit Classroom</button>
            <button type="button" onClick="addClassRoom()" class="btn btn-primary">Add Classroom</button>
        </div>
        <div class="row">
            <div id="displayData" class="col-lg-9 pull-left"> Select an option to continue</div>
        </div>
    </div>
</main>

{{template "footer" .}}

{{end}}