{{define "adminnav"}}
<header>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand" >Caraway Volunteering</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor02" aria-controls="navbarColor02" aria-expanded="false" aria-label="Toggle navigation" style="">
            <span class="navbar-toggler-icon"></span>
        </button>
        <br>
    {{if and (ne .PageName "login") (ne .PageName "mainLogin")}}
        <div class="collapse navbar-collapse" id="navbarColor02">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item {{if eq .PageName "admindashboard"}}active{{end}}">
                    <a class="nav-link" href="dashboard">Dashboard</a>
                </li>
                <li id="usersBtn" class="nav-item {{if eq .PageName "adminusers"}}active{{end}}">
                    <a class="nav-link" href="users">Users</a>
                </li>
                <li class="nav-item {{if eq .PageName "calendar"}}active{{end}}">
                    <a class="nav-link" href="calendar">Calendar</a>
                </li>
                <li id="reportsBtn" class="nav-item {{if eq .PageName "adminreports"}}active{{end}}">
                    <a href="reports">Reports</a>
                </li>
                <li id="classesBtn" class="nav-item {{if eq .PageName "adminclasses"}}active{{end}}">
                    <a class="nav-link" href="classes">Classes</a>
                </li>
            </ul>
            <div>
                <span class="badge badge-pill badge-primary">{{.Username}}</span>
                <button type="button" class="btn btn-primary" onclick="location.href='/logout';"><i class="fas fa-sign-out-alt"></i></button>
            </div>
        </div>
    </nav>
    {{end}}
</header>
{{end}}