{{define "admincalendar"}}

{{template "header" .}}
<script id="tmpl_eventForm" type="x-dot-template">
        <div class="form-group">
            <fieldset>
                <p>TimeStart</p>
                <input id="start" type="datetime-local" class="form-control form-control-sm">
                <br>
                <p>TimeEnd</p>
                <input id="end" type="datetime-local" class="form-control form-control-sm">
                <br>
                <p>ClassRoom</p>
                <select class="form-control" id="room">
                    <option value="" disabled selected hidden>Select a Classroom</option>
                    {{`{{~it :value:index}}`}}
                        <option value="{{`{{=value.roomName}}`}}">{{`{{=value.roomName}}`}}</option>
                    {{`{{~}}`}}
                </select>
                <br>
                <p>Modifier</p>
                <input id="modifier" type="number" value="1" class="form-control form-control-sm">
                <br>
                <p>Note</p>
                <input id="note" type="text" placeholder="Insert a note for facilitators..." class="form-control form-control-sm">
                <br>
                <button id="submit" type="button" class="btn btn-primary">Submit</button>
            </fieldset>
        </div>
</script>

<main>
    <!-- Event Details Modal -->
    <div class="modal fade" id="eventDetailsModal" tabindex="-1" role="dialog" aria-labelledby="eventDetailsModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title" id="eventModalTitle"></h4>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <h5 id="modalWhereLabel" class="text-muted">Where:</h5>
                    <h5 id="modalEventRoom"></h5>
                    <h5 id="modalTimeLabel" class="text-muted">When:</h5>
                    <h5 id="modalEventTime"></h5>
                    <h5 id="modalValueLabel" class="text-muted">Value:</h5>
                    <h5 id="modalDescLabel" class="text-muted">Description:</h5><br>
                    <p id="eventNote"></p><br>
                    <h5 class="text-left text-muted">Attending:</h5><br>
                    <div class="text-center" id="eventBookings"></div>
                </div>
                <div class="modal-footer">
                    <p aria-hidden="true" style="visibility: hidden" id="modalEventData"></p>
                    <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row"><div class="col-lg-12"><br></div></div>
        <div class="row">
            <div class="col-lg-3" id="eventForm"></div>
            <div class="col-lg-9 pull-right">
                <div id="calendar"></div>
            </div>
        </div>
    </div>
</main>

{{template "footer" .}}

{{end}}