{{define "adminusers"}}

{{template "adminheader" .}}

<script id="tmpl_listUsers" type="x-dot-template">
    <table class="table table-hover">
        <thead>
            <tr class="table-default">
                <th scope="col">User ID</th>
                <th scope="col">Last Name</th>
                <th scope="col">First Name</th>
                <th scope="col">Username</th>
                <th scope="col">Email</th>
                <th scope="col">Phone</th>
            </tr>
        </thead>
        <tbody>
            {{`{{~it :value:index}}`}}
            <tr class="table-default">
                <td class="table-default"> {{`{{=value.userId}}`}}</td>
                <td class="table-default"> {{`{{=value.lastName}}`}}</td>
                <td class="table-default"> {{`{{=value.firstName}}`}}</td>
                <td class="table-default"> {{`{{=value.userName}}`}}</td>
                <td class="table-default"> {{`{{=value.email}}`}}</td>
                <td class="table-default"> {{`{{=value.phoneNumber}}`}}</td>
                <td class="table-default">
                    <button id="edit_{{`{{=value.userId}}`}}" type="button" class="btn btn-primary"><i class="fas fa-edit"></i></button>
                    <br>
                    <button id="pass_{{`{{=value.userId}}`}}" type="button" class="btn btn-primary">Change Password</button>
                </td>
            </tr>
            {{`{{~}}`}}
      </tbody>
    </table>
</script>

<script id="tmpl_password" type="x-dot-template">
    <div class="row">
        <header>
            <h1>Edit password for user: </h1><h2>{{`{{=it.userName}}`}}</h2>
        </header>
    </div>
    <div class="row">
        Password </td>
            <td class="table-default"> <input id="pass1" type="password" class="form-control form-control-sm"></td>
        </tr>
        <tr class="table-default">
            <td class="table-default">  Confirm Password </td>
            <td class="table-default"> <input id="pass2" type="password" class="form-control form-control-sm"></td>
        </tr>
        <tr class="table-default">
        <td class="table-default"> <button id="Submit" type="button" class="btn btn-primary">Submit</button></td>
        <td class="table-default"> <button id="cancel" type="button" class="btn btn-primary">Cancel</button></td>
        </tr>
    </div>
</script>

<script id="tmpl_listFamilies" type="x-dot-template">
    <table>
        <thead>
            <tr class="table-default">
                <th scope="col">Family ID</th>
                <th scope="col">SurName</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
        {{`{{~it :value:index}}`}}
        <tr class="table-default">
            <td class="table-default"> {{`{{=value.familyId}}`}}</td>
            <td class="table-default"> {{`{{=value.familyName}}`}}</td>
            <td class="table-default"> <button id="edit_{{`{{=value.familyId}}`}}" type="button" class="btn btn-primary"><i class="fas fa-edit"></i></button></td>
        </tr>
    {{`{{~}}`}}
      </tbody>
    </table>
</script>

<script id="tmpl_newFamily" type="x-dot-template">
    <table>
        <tr class="table-default">
            <td class="table-default"> Family Name</td>
            <td class="table-default"> <input id="famName" type="text" class="form-control form-control-sm"></td>
        </tr>
        <tr class="table-default">
        <td class="table-default"> Parent One</td>
        <td class="table-default">
            <select class="form-control" id="parent1">
                    <option value="">Select a Parent/Facilitator</option>
                {{`{{~it :value:index}}`}}
                    <option value="{{`{{=value.userId}}`}}">{{`{{=value.userName}}`}}</option>
                {{`{{~}}`}}    
            </select>
        </td>
        </tr>
        <tr class="table-default">
        <td class="table-default"> Parent Two</td>
        <td class="table-default">
            <select class="form-control" id="parent2">
                    <option value="">Select a Parent/Facilitator</option>
                {{`{{~it :value:index}}`}}
                    <option value="{{`{{=value.userId}}`}}">{{`{{=value.userName}}`}}</option>
                {{`{{~}}`}}    
            </select>
        </td>
        </tr>
            <td class="table-default"> Children</td>
            <td class="table-default"> <input id="children" type="number" class="form-control form-control-sm"></td>
        </tr>
        <tr class="table-default"><td class="table-default">
            <button id="submit" type="button" class="btn btn-primary">Submit</button>
            <button id="cancel" type="button" class="btn btn-primary">Cancel</button>
        </td></tr>
    </table>
</script>




<script id="tmpl_editUser" type="x-dot-template">
    <table>
        <tr class="table-default"><td class="table-default">
            ID
        </td><td class="table-default">
            <p id="IDNum">{{`{{=it.userId}}`}}</p>
        </td></tr>
        <tr class="table-default"><td class="table-default">
            Username
        </td><td class="table-default">
            {{`{{=it.userName}}`}}
        </td></tr>
        <tr class="table-default"><td class="table-default">
            First Name
        </td><td class="table-default">
            <input id="fName" type="text" value="{{`{{=it.firstName}}`}}">
        </td></tr>
        <tr class="table-default"><td class="table-default">
            Last Name 
        </td><td class="table-default">
            <input id="lName" type="text" value="{{`{{=it.lastName}}`}}">
        </td></tr>
        <tr class="table-default"><td class="table-default">
            Email
        </td><td class="table-default">
            <input id="email" type="email" value="{{`{{=it.email}}`}}">
        </td></tr>
        <tr class="table-default"><td class="table-default">
            Phone #
        </td><td class="table-default">
            <input id="phoneNum" type="tel" value="{{`{{=it.phoneNumber}}`}}">
        </td></tr>
        <tr class="table-default"><td class="table-default">
            <button id="submit" type="button" class="btn btn-primary">Submit</button>
            <button id="cancel" type="button" class="btn btn-primary">Cancel</button>
        </td></tr>
    </table>
</script>

<script id="tmpl_addUser" type="x-dot-template">
    <table>
        <thead>
            <tr>
                <td scope="col"> User Role</td>
                <td scope="col">
                    <select class="form-control" id="role">
                        <option value="1">Facilitator</option>
                        <option value="2">Teacher</option>
                    </select>
                </td>
            </tr>
        </thead>
        <tr class="table-default">
            <td class="table-default"> First Name</td>
            <td class="table-default"> <input id="fName" type="text"></td>
        </tr>
        <tr class="table-default">
            <td class="table-default"> Last Name</td>
            <td class="table-default"> <input id="lName" type="text"></td>
        </tr>
        <tr class="table-default">
            <td class="table-default"> Email</td>
            <td class="table-default"> <input id="email" type="email"></td>
        </tr>
        <tr class="table-default">
            <td class="table-default"> Phone #</td>
            <td class="table-default"> <input id="phoneNum" type="tel"></td>
        </tr>
        <tr class="table-default">
            <td class="table-default"> Password</td>
            <td class="table-default"> <input id="pass1" type="password"></td>
        </tr>
        <tr class="table-default">
            <td class="table-default"> Confirm Password</td>
            <td class="table-default"> <input id="pass2" type="password"></td>
        </tr>
        <tr class="table-default"><td class="table-default">
            <button class="btn btn-primary" id="submit" type="button">Submit</button>
            <button class="btn btn-primary" id="cancel" type="button">Cancel</button>
        </td></tr>
    </table>
</script>

<main>
<br>
    <div class="container">
        <ul class="nav nav-tabs flex-column">
            <li class="nav-item"><a onClick="familyList()">Edit Family</a></li>
            <li class="nav-item"><a onClick="newFamily()">Add Family</a></li>
            <li class="nav-item"><a onClick="userList()">Edit User</a></li>
            <li class="nav-item"><a onClick="newUser()">Add User</a></li>
        </ul>
        <div class ="row">
            <div class="col-sm-2 float-left"></div>
            <div id="displayData" class="col-sm-9 float-left">Select an option to continue</div>
        </div>
    </div>
</main>

{{template "footer"}}

{{end}}