{{define "admindashboard"}}

{{template "adminheader"}}

<main>
    <div id="familyList">
        <table>
            <div>
                <tr>
                    <th>ID</th>
                    <th>Family</th>
                    <th>Scheduled this Week</th>
                </tr>
            </div>
            {{range .}}
            <div>
                <tr>
                    <td>{{.FamilyID}}</td>
                    <td>{{.FamilyName}}</td>
                    <td>{{.WeekHours}}</td>
                </tr>
            </div>
            {{end}}
        </table>
    </div>
</main>

{{template "footer"}}

{{end}}