{{define "admindashboard"}}

{{template "header" .}}

<script id="tmpl_familyList" type="x-dot-template">
    <table class="table table-hover">
        <thead>
            <tr>
                <th scope="col">ID</th>
                <th scope="col">Family</th>
                <th scope="col">Scheduled this Week</th>
            </tr>
        </thead>
        <tbody>
            {{`{{~it :value:index}}`}}
            <tr class="table-default">
                <td class="table-default">{{`{{=value.familyId}}`}}</td>
                <td class="table-default">{{`{{=value.familyName}}`}}</td>
                <td class="table-default">{{`{{=value.weekHours}}`}}</td>
            </tr>
            {{`{{~}}`}}
        </tbody>
    </table>
</script>

<main>
    <div class="container">
        <div id="displayData"></div>
    </div>
</main>

{{template "footer"}}

{{end}}