{{define "admincalendar"}}

{{template "header" .}}
<script id="tmpl_eventForm" type="x-dot-template">
        <div class="form-group">
            <fieldset>
                <p>TimeStart</p>
                <input id="startdate" type="date" name="Start Date" class="form-control form-control-sm">
                <br>
				<input id="starttime" type="time" name="Start Time" class="form-control form-control-sm">
				<br>
                <p>TimeEnd</p>
                <input id="enddate" type="date" name="End Date" class="form-control form-control-sm">
                <input id="enddate" type="date" name="End Date" class="form-control form-control-sm">
                <br>
                <input id="endtime" type="time" name="End Time" class="form-control form-control-sm">
				<br>
                <label for="capField">Capacity</label>
                <input id="capacity" placeholder="default: 3" type="number" name="capField" class="form-control form-control-sm"></input>
                <br>
				<input id="endtime" type="time" name="End Time" class="form-control form-control-sm">
				<br>
                <p>Block Title</p>
                <input id="bTitle" type="text" placeholder="default: 'Facilitation'" class="form-control form-control-sm">
                <br>
                <p>Classroom</p>
                <select class="form-control" name="Room" id="room">
                    <option value="" disabled selected hidden>Select a Classroom</option>
                    {{`{{~it :value:index}}`}}
                        <option value="{{`{{=value.roomId}}`}}">{{`{{=value.roomName}}`}}</option>
                    {{`{{~}}`}}
                </select>
                <br>
                <p>Modifier</p>
                <input id="modifier" type="number" step="0.25" min="1" value="1" name="Modifier" class="form-control form-control-sm">
                <br>
                <p>Note</p>
                <input id="note" type="text" placeholder="Insert a note for facilitators..." class="form-control form-control-sm">
                <br>
				<br>
				<select class="form-control" id="repeatOption">
					<option value="0">Do Not Repeat</option>
					<option value="1">Repeat Weekly</option>
					<option value="2">Repeat Daily</option>
				</select>
				<br>
				<p>Until</p>
				<input id="repeatDate" type="date" name="repeaterDate" class="form-control form-control-sm">
                <br>
                <button id="submit" type="button" class="btn btn-primary">Submit</button>
            </fieldset>
        </div>
</script>

<main>
    <!-- Event Details Modal -->
    <div class="modal fade" id="eventDetailsModal" tabindex="-1" role="dialog" aria-labelledby="eventDetailsModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title" id="eventModalTitle"></h4>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <h5 id="modalWhereLabel" class="text-muted">Where:</h5>
                    <h5 id="modalEventRoom"></h5>
                    <h5 id="modalTimeLabel" class="text-muted">When:</h5>
                    <h5 id="modalEventTime"></h5>
                    <h5 id="modalEventCapacity" class="text-muted">Capacity: </h5>
                    <h5 id="modalValueLabel" class="text-muted">Value:</h5>
                    <h5 id="modalDescLabel" class="text-muted">Description:</h5><br>
                    <p id="eventNote"></p><br>
                    <h5 class="text-left text-muted">Attending:</h5><br>
                    <div class="text-center" id="eventBookings"></div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary text-right" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
    <div class="main-container">
        <div class="container-fluid">
            <div class="row">
                <div class="col-sm-3 float-left" id="eventForm"></div>
                <div class="col-sm-9 float-right order-last">
                    <h2 class="text-center">Upcoming Schedule</h2>
                    <div class="card m-2" id="wdgt-container">
                        <div class="text-right">
                             <button type="button" id="builderToggle" class="btn btn-block btn-info" style="font-size: 1.2rem;" onclick='location.href={{if eq .PageName "calendar"}}"/admin/builder"{{else}}"/admin/calendar"{{end}};'>{{if eq .PageName "builder"}}Back to Schedule{{else}}Enter Builder Mode{{end}}</button>
                        </div>
                         <div class="mt-2" id="filterList" style="text-align: left;" >
                         {{if eq .PageName "builder"}}
                             <fieldset>
                                 <label style="font-size: 1rem;" for="startPeriodInput">Period Start</label>
                                 <input id="startPeriodInput" class="form-control form-control-sm" type="date" name="startPeriodInput"></input>
                                 <label for="endPeriodInput" style="font-size: 1rem;">Period End</label>
                                 <input id="endPeriodInput" class="form-control form-control-sm" type="date" name="endPeriodInput"></input>
                             </fieldset>
                         {{end}}
                            <div class="btn-group" data-toggle="buttons" id="filterButtons"></div>
                        </div>
                        <div id="calendar"></div>
                    </div>
                </div>
            </div>
            {{if eq .PageName "builder"}}
                <button type="button" id="submitAndApplyTemplateButton" class="btn btn-block btn-success" onclick="submitTemplateForApplication()">Submit and Build Schedule From Template</button>
            {{end}}
        </div>
    </div>
</main>
{{template "footer" .}}
{{end}}