{{define "adminnav"}}
<header>
        <div class="col-sm-12" style="background-color:skyblue">
            <div class="col-sm-6 col-sm-offset-1">
                <h2 style="color: black">Caraway Volunteer Management Administrator</h2>
            </div>
             <div class="col-sm-4">
                <br>
                <div class="col-sm-8 text-right" style="height: 34px;padding-right: 0;">
                    <label style="margin-bottom: 0; height: 34px; margin-top: 6px;">Administrator</label>
                </div>
                <div class="col-sm-4">
                    <button type="button" class="btn btn-default">Logout</button>
                </div>
             </div>
        </div>
        <div class="col-sm-12" style="background-color:	skyblue;">
            <ul class="nav nav-tabs nav-justified">
                <li id="dashboardBtn" class="col-sm-5 text-left" style="color: black"><a href="dashboard">Dashboard</a></li>
                <li id="reportsBtn" class="col-sm-5 text-left" style="color: black" ><a href="reports">Reports</a></li>
                <li id="calendarBtn" class="col-sm-5 text-left" style="color: black" ><a href="calendar">Calendar</a></li>
                <li id="usersBtn" class="col-sm-5 text-left" style="color: black" ><a href="users">Users</a></li>
                <li id="classesBtn" class="col-sm-5 text-left" style="color: black" ><a href="classes">Classes</a></li>
            </ul>
        </div>
    </header>
{{end}}