{{define "calendar"}}

{{template "header" .}}

<br><br><br><br>
    <main>
        <div class="main-container">
            <div class="container">
                <div class="row">
                    <div class="col-xs-12"><br></div>
                </div>
                <div class="row">
                    <div class="col-xs-12">
                        <div id="calendar">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>

{{template "footer"}}

{{end}}