{{define "dashboard"}}

{{template "header" .}}

<main>
    <div class="container">
        <div class="col-md-7">
            <label id="gauge-container">Weekly Status</label>
        </div>
        <div class="col-md-7">
            <div id="gauge-container">
                <h2>Completed</h2>
                <canvas width="200" height="200" id="hoursDone"></canvas>
                <div id="hoursDone-text"></div>
            </div>
            <div id="gauge-container">
                <h2>Expected</h2>
                <canvas width="200" height="200" id="hoursBooked"></canvas>
                <div id="hoursBooked-text"></div>
            </div>
        </div>
        <div class="col-md-7">
            <h2>Facilitation History</h2>
            <canvas width="300" height="150" id="hoursChart"></canvas>
        </div>
        <div class="col-md-7">
            <h2>Upcoming events</h2>
            <div id="calendar"></div>
        </div>
    </div>
</main>
    
{{template "footer"}}
    
{{end}}
