<!DOCTYPE html>
<html lang="en">
  <head>
    <link rel="stylesheet" type="text/css" href="/templates/dashboard.css">
  </head>
  <body>
    <h1>Dashboard</h1>
    <div class="leftcol">
      <div class="info">
      <h2 class="title">Hours Booked</h2>
      <p id="calhrs">number of hours</p>
      <br>
      </div>
      <div class="info">
      <h2 class="title">Hours Signed up</h2>
      <p id="donehrs">other hours stuff</p>
      </div>
    </div>
    <div class="rightcol">      
      <div class="info">	
	<h2 class=:"title">Upcoming Events</h2>
	<div id="schedule">
	</div>
	</table>
      </div>
    </div>
<script src="/public/js/dashboard.js"></script>
  </body>
</html>
