{{define "dashboard"}}

{{template "nav"}}
						<li class="col-sm-5 text-right active" style="color: black"><a href="/dashboard">Dashboard</a></li>
						<li class="col-sm-5 text-left" style="color: black" ><a href="/calendar">Calendar</a></li>
					</ul>
			</div>
            
    <main>
    <link rel="stylesheet" type="text/css" href="/views/public/css/dashboard.css">
    <div class="left-column">
	<p id="hoursDone" class="top">
	   
	</p>
	<p id="hoursBooked">
	   
	</p>	
    </div>
    <div class="right-column top">
    	<h2 class="top">Upcoming events</h2>
	<table id="events">
    	</table>
    </div>

    <script src="/views/public/js/dashboard.js"> </script>    
    </main>

{{template "footer"}}

{{end}}