{{define "dashboard"}}

{{template "header" .}}

<main>
  <div class="container">
    <div class="row">
      <div class="col-sm-6 pull-left">
        <h2 style="text-align: center">Activity Tracker</h2>
      </div>
      <div class="col-sm-6 pull-right">
        <h2 style="text-align: center">Upcoming Events</h2>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-3">
        <div id="wdgt-container">
          <h2>Complete</h2>
          <canvas width="125" height="125" id="hoursDone"></canvas>
          <div id="hoursDone-text"></div>
        </div>
      </div>
      <div class="col-sm-3">
        <div id="wdgt-container">
          <h2>Booked</h2>
          <canvas width="125" height="125" id="hoursBooked"></canvas>
          <div id="hoursBooked-text"></div>
        </div>
      </div>
      <div class="col-sm-6 pull-right">
        <div id="calendar"></div>
      </div>
      <div class="col-sm-6 pull-left">
        <div id="wdgt-container">
          <h2>Facilitation History</h2>
          <canvas width="300" height="150" id="hoursChart"></canvas>
        </div>
      </div>
    </div>
  </div>    
  
</main>
    
{{template "footer"}}
    
{{end}}
