//footer.tmpl

{{define "footer"}}

        <footer>
            <div class="container" style="color: white">
                <p>
                    this is a footer
                </p>
                <p>
                        &copy; Team gold CMPT 395
                </p>
            </div>
        </footer>
    </body>
</html>

{{end}}