//footer.tmpl

{{define "footer"}}

        <footer> 
            <div class="navbar navbar-fixed-bottom" style="background-color: black;height: 20px">
                <div class="row">
                        <div class="col-lg-12">
                            <div class="container" style="color: white">
                                <p>
                                    this is a footer
                                </p>
                                <p>
                                        &copy; Team gold CMPT 395
                                </p>
                            </div>
                        </div>
                </div>
            </div>
        </footer>
    </body>
</html>

{{end}}