//header.tmpl

{{define "header"}}
<html>
    <head>
        <title>{{- .Role}} - Caraway Facilitator Management System</title>
        <meta charset="UTF-8">
        <!-- Latest compiled and minified CSS -->
        <link href="https://use.fontawesome.com/releases/v5.0.8/css/all.css" rel="stylesheet">
        <script defer src="https://use.fontawesome.com/releases/v5.0.8/js/all.js"></script>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
        <link href="https://maxcdn.bootstrapcdn.com/bootswatch/4.0.0/lux/bootstrap.min.css" rel="stylesheet">
        <!-- Latest compiled JavaScript -->
        <script type="text/javascript" src='https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.20.1/moment.min.js'></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>

        {{if eq .Role "Admin"}}
            <link rel="stylesheet" type="text/css" href="/views/public/css/admin.css">
            <script src="/views/public/js/admin.js"></script>
        {{end}}

        {{if .DotJS}}
            <script src="https://cdnjs.cloudflare.com/ajax/libs/dot/1.1.2/doT.min.js"></script>
            <link rel="stylesheet" type="text/css" href="/views/public/css/admin.css">
        {{end}}
        <!-- Provide calendar if page wants it -->
        {{if .Calendar }}
            <!-- fullCalendar dependencies -->
            <link rel="stylesheet" type='text/css' href='/views/fc/fullcalendar.min.css'/>
            <!--<script type="text/javascript" src='/views/fc/lib/jquery.min.js'></script> -->
            <script type="text/javascript" src='/views/fc/lib/moment.min.js'></script>
            <script type="text/javascript" src='/views/fc/fullcalendar.js'></script>
            <!-- Shared javascript for all roles -->
            <script type="text/javascript" src='/views/public/js/calendar.js'></script>
           {{if ne .PageName "dashboard"}}
                <!-- Role specific calendar js-->
                <script type="text/javascript" src='/views/public/js/calendar {{- .Role -}} .js'><%= text/javascript %></script>
           {{end}}
        {{end}}

        {{if .MultiSelect }}
            <link rel="stylesheet" type="text/css" href="/views/ms/multi-select.css" media="screen">
            <script type="text/javascript" src="/views/ms/jquery.multi-select.js"></script>
        {{end}}

        {{if .Chart }}
            <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.2/Chart.min.js"></script>
            <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.2/Chart.bundle.min.js"></script>
        {{end}}

        {{if .Toaster }}
            <script type="text/javascript" src='/views/public/js/toasters.js'></script>
            <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js"></script>
            <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.css">
        {{end}}

        {{if eq .PageName "dashboard"}}
            <link rel="stylesheet" type="text/css" href="/views/public/css/dashboard.css">
            <script type="text/javascript" src="https://bernii.github.io/gauge.js/dist/gauge.min.js"></script>
            <script type="text/javascript" src="/views/public/js/dashboard.js"></script>
        {{else if eq .PageName "password"}}
            <link rel="stylesheet" type="text/css" href="/views/public/css/password.css">
            <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js"></script>
            <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.css">
            <script type="text/javascript" src="/views/public/js/change_pwd.js"></script>
        {{else if eq .PageName "donate"}}
            <script type="text/javascript" src="/views/public/js/donate.js"></script>
        {{else if eq .PageName "builder"}}
            <script type="text/javascript" src="/views/public/js/scheduleBuilder.js"></script>
        {{end}}

        <script src="/views/public/js/login.js" type="text/javascript"></script>
        <meta name="viewport" content="width=device-width, initial-scale=1">
    </head>
    <body>
        {{template "nav" .}}
{{end}}