//header.tmpl

{{define "header"}}

<!DOCTYPE html>
<html>
    <head>
        <title>Caraway Volunteer Management System</title>
        <meta charset="UTF-8">
        <!-- Latest compiled and minified CSS -->       
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        {{if .Calendar eq true}}
            <!-- fullCalendar dependencies -->
            <link rel="stylesheet" type='text/css' href='/views/fullcalendar/fullcalendar.css'/>
            <script type="text/javascript" src='/views/fullcalendar/lib/moment.min.js'></script>
            <script type="text/javascript" src='/views/fullcalendar/fullcalendar.js'></script>
            <script type="text/javascript" src='/views/public/js/calendar {{- .Role -}} .js'><%= text/javascript %></script>
            <!-- slate theme for calendar -->
            <link rel="stylesheet" type="text/css" href="https://bootswatch.com/3/slate/bootstrap.min.css">
        {{end}}
        {{if .PageName eq "dashboard"}} <script src="/views/public/js/dashboard.js"> </script> {{end}}
            <!-- Latest compiled JavaScript -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <script src="/views/public/js/login.js" type="text/javascript"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
        <meta name="viewport" content="width=device-width, initial-scale=1">
    </head>
    <body>
        <header >
			<div class="col-sm-12" style="background-color:skyblue">
				<div class="col-sm-6 col-sm-offset-1">
					<h2>Caraway Volunteer Management System</h2>
				</div>
{{end}}