
{{define "loginForm"}}

{{template "header" .}}

			</div>
        </header>
        <br><br><br><br>
        <main>
            <br><br><br><br>
            <div class="container">
                <div class="card mx-auto" style="max-width: 30rem;">
                    <h4 class="card-title mx-auto">{{.Role}} Login</h4>
                    <div class="form-group" id="usrgroup">
                        <div class="input-group mb-3">
                            <div class="input-group-prepend">
                                <label class="input-group-text" for="usr" style="font-size: 1rem;"><span class="fas fa-user"></span></label>
                            </div>
                            <input type="text" class="form-control text-left" id="usr" placeholder="Username" onkeypress="return enterPressed(event)">
                        </div>
                    </div>
                    <div class="form-group" id="pwdgroup">
                        <div class="input-group mb-3">
                            <div class="input-group-prepend">
                                <label class="input-group-text" for="pwd" style="font-size: 1rem;"><span class="fas fa-key"></span></label>
                            </div>
                            <input type="password" class="form-control text-left" id="pwd" placeholder="Password" onkeypress="return enterPressed(event)">
                        </div>
                    </div>           
                    <div id="errorbox">
                        
                    </div>
                    <div class="form-group text-center">
                        <button type="button" class="btn btn-default btn-block" id="loginbtn" onclick="login()">Login</button>
                    </div>          
                </div>
            </div>
        </main>
{{template "footer"}}

{{end}}