
{{define "content"}}

{{template "header"}}
				
			</div>

            
        </header>
        <!--suppress ALL -->
<br><br><br><br>

    <main>
        <br><br><br><br>
        <div class="container" style="width: 40%" >
            <div class ="well text-center" > 
                <div class="btn-group-vertical" style="width: 90%">
                    <a id="flogin" class="btn btn-primary" href="/login/facilitator" role="button">Facilitator Login</a>
                    <a id="tlogin" class="btn btn-primary" href="/login/teacher" role="button">Teacher Login</a>
                    <a id="alogin" class="btn btn-primary" href="/login/admin" role="button">Admin Login</a>
                </div>
            </div>
        </div>
    </main>

{{template "footer"}}

{{end}}