
{{define "content"}}

{{template "header" .}}
        <!--suppress ALL -->
<br><br><br><br>

    <main>
        <br><br><br><br>
        <div class="container" style="width: 50%" >
            <div class ="well text-center" >
                <h2 class="text-center">Select Role</h2>
                <div class="btn-group-vertical" style="width: 90%;">
                    <a id="flogin" class="btn btn-primary" href="/login/facilitator" role="button">Facilitator</a>
                    <a id="tlogin" class="btn btn-primary" href="/login/teacher" role="button">Teacher</a>
                    <a id="alogin" class="btn btn-primary" href="/login/admin" role="button">Admin</a>
                </div>
            </div>
        </div>
    </main>

{{template "footer"}}

{{end}}