{{define "nav"}}
    <header>
        <nav class="navbar navbar-expand-sm navbar-dark bg-dark">
            <a class="navbar-brand" {{if eq .Role "Admin"}}href="/admin/dashboard" {{else if eq .Role "Teacher"}}href="/teacher" {{else}}href="/dashboard"{{end}}>Caraway Facilitation</a>
{{if and (ne .PageName "login") (ne .PageName "mainLogin")}}
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor02" aria-controls="navbarColor02" aria-expanded="false" aria-label="Toggle navigation" style="">
                <span class="navbar-toggler-icon"></span>
            </button>
            <br>
            <div class="collapse navbar-collapse" id="navbarColor02">
                <ul class="navbar-nav mr-auto">
				
				
             {{if ne .Role "Teacher"}}
                    <li class="nav-item {{if or (eq .PageName "dashboard") (eq .PageName "admindashboard")}}active{{end}}">
                        <a class="nav-link" {{if eq .Role "Admin"}}href="/admin/dashboard" {{else}}href="/dashboard"{{end}}>Dashboard</a>
                    </li>
                    <li class="nav-item {{if eq .PageName "calendar"}}active{{end}}">
                        <a class="nav-link" {{if eq .Role "Admin"}}href="/admin/calendar" {{else}}href="/calendar"{{end}} >Calendar</a>
                    </li>

					{{if eq .Role "Admin"}}
					<li id="usersBtn" class="nav-item {{if eq .PageName "adminusers"}}active{{end}}">
						<a class="nav-link" href="/admin/users">Users</a>
					</li>
					<li id="reportsBtn" class="nav-item {{if eq .PageName "adminreports"}}active{{end}}">
						<a class="nav-link" href="/admin/reports">Reports</a>
					</li>
					<li id="classesBtn" class="nav-item {{if eq .PageName "adminclasses"}}active{{end}}">
						<a class="nav-link" href="/admin/classes">Classes</a>
					</li>
					{{end}}
			{{end}}
			{{if eq .Role "Teacher"}}
                <li class="nav-item active">
                    <a class="nav-link" href="/teacher">Schedule</a>
                </li>
            {{end}}

                 <li class="nav-item {{if eq .PageName "password"}}active{{end}}">
                     <a class="nav-link" href="/change_password">Change Password</a>
                 </li>
					
                </ul>
                <span class="badge badge-primary p-2 mbr-2">
                {{.Username}}
                </span>
                <br>
                <div>
                    <button type="button" class="badge badge-pill badge-secondary text-right p-2" onclick="location.href='/logout';">
                            <svg class="svg-inline--fa fa-sign-out-alt fa-w-24" aria-hidden="true" data-prefix="fas" data-icon="sign-out-alt" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" data-fa-i2svg=""><path fill="currentColor" d="M497 273L329 441c-15 15-41 4.5-41-17v-96H152c-13.3 0-24-10.7-24-24v-96c0-13.3 10.7-24 24-24h136V88c0-21.4 25.9-32 41-17l168 168c9.3 9.4 9.3 24.6 0 34zM192 436v-40c0-6.6-5.4-12-12-12H96c-17.7 0-32-14.3-32-32V160c0-17.7 14.3-32 32-32h84c6.6 0 12-5.4 12-12V76c0-6.6-5.4-12-12-12H96c-53 0-96 43-96 96v192c0 53 43 96 96 96h84c6.6 0 12-5.4 12-12z"></path></svg><!-- <i class="fas fa-sign-out-alt"></i> -->
                    </button>
                </div>
            </div>
{{end}}
        </nav>
    </header>
{{end}}