{{define "password"}}

{{template "header" .}}

<main>
    <br>
    <br>
    <div class="container">
        <div class="form-group row">
            <label id="old_pwd_lbl" for="old_pwd" class="col-md-2 offset-md-1 col-form-label">Old Password</label>
            <div class="col-md-5 col-lg-3">
                <input type="password" class="form-control" id="old_pwd" onkeypress="return enterPressed(event)"><br>
                <small id="old_message" class="text-danger d-none">Cannot be empty.</small>
            </div>

        </div>
        <br>
        <div class="form-group row">
            <label id="new_pwd_lbl" for="new_pwd" class="col-md-2 offset-md-1 col-form-label">New Password</label>
            <div class="col-md-5 col-lg-3">
                <input type="password" class="form-control" id="new_pwd" onkeyup='check();' onkeypress="return enterPressed(event)"><br>
                <small id="new_message" class="text-danger d-none">New password must be at least 8 charachters long.</small>
            </div>

        </div>
        <br>
        <div class="form-group row">
            <label id="confirm_pwd_lbl" for="confirm_pwd" class="col-md-2 offset-md-1 col-form-label">Confirm Password</label>
            <div class="col-md-5 col-lg-3">
                <input type="password" class="form-control" id="confirm_pwd" onkeyup='check();' onkeypress="return enterPressed(event)"><br>
                <small id="conf_message" class="text-danger d-none">Needs to match new password</small>
            </div>
        </div>
        <br>
        <br>
        <div id="alert_box" class="alert alert-danger  col-lg-7 d-none">
            <strong>Warning!</strong> Password update failed, could not authenticate user. Please enter correct password.
        </div>
        <div id="submit_div" class="col-1 offset-5">
            <button type="button" class="btn btn-primary" id="change_pwd_btn" onclick="change_pwd()">Submit</button>
        </div>
    </div>

</main>
    
{{template "footer"}}
    
{{end}}
