{{define "password"}}

{{template "header" .}}

<main>
    <h2>Change Password</h2>
    <br>
    <br>
    <div class="container">
        <div class="row">
            <div class="col-2 offset-1">
                Old Password: 
            </div>
            <div class="col-3">
                <input type="password" id="old_pwd"><br>
            </div>

        </div>
        <br>
        <div class="row">
            <div class="col-2 offset-1">
                New Password: 
            </div>
            <div class="col-3">
                <input type="password" id="new_pwd"><br>
            </div>

        </div>
        <br>
        <div class="row">
            <div class="col-2 offset-1">
                Confirm Password: 
            </div>
            <div class="col-3">
                <input type="password" id="confirm_pwd"><br>
            </div>

        </div>
        <br>
        <br>
        <div class="col-1 offset-3">
            <button type="button" class="btn btn-primary" id="change_pwd_btn" onclick="change_pwd()">Submit</button>
        </div>
    </div>

</main>
    
{{template "footer"}}
    
{{end}}
