
{{define "content"}}

{{template "header"}}

    <main>
        <br><br><br><br>
        <div class="container" style="width: 40%" >
            <div class ="well text-center" > 
                <div class="btn-group-vertical" style="width: 90%">
                    <button id="flogin" type="button" class="btn btn-primary" onclick="gotoFlogin()">Facilitator Login</button>
                    <button id="tlogin" type="button" class="btn btn-primary" onclick="gotoTlogin()">Teacher Login</button>
                    <button id="alogin" type="button" class="btn btn-primary" onclick="gotoAlogin()">Admin Login</button>
                </div>
            </div>
        </div>
    </main>

{{template "footer"}}

{{end}}